<div class="Firstview">
  <h2 class="Firstviewtitle">
  Potepan shareで
  <br>
  まだ体験したことのない
  <br>
  旅をしよう
  </h2>
</div>

<div class="Secoundview">
<h2 class="recomend">
おすすめのエリア
</h2>

<div class="recomend_areas">
  <div class="recomend_area recomend_tokyo">
    <h2 class="area">東京</h2>
  </div>
  <div class="recomend_area recomend_osaka">
  <h2 class="area">大阪</h2>
  </div>
  <div class="recomend_area recomend_kyoto">
  <h2 class="area">京都</h2>
  </div>
  <div class="recomend_area recomend_sapporo">
  <h2 class="area">札幌</h2>
  </div>
  
</div>
</div>