/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin:0;
    padding:0;
    }

 body {
    margin: 0 auto;
    }

 .header {
    background-color: #3333CC;
    height: 90px;
 

  }

  .header_logo{
    padding-top:20px
  }



  .Firstview{
    background-image:url(/cover-lg.jpg );
    height: 700px;

  }

.Firstviewtitle{
    text-align: center;
    padding:80px 0;
}
.recomend_area{
    background-size:cover ;
    background-position: 50%;
    height: 455px;
    width:25%;
    float: left;
    position:relative;
}


.recomend_tokyo{
    background-image:url(/tokyo.jpg );


    
}

.recomend_osaka{
    background-image:url(/osaka.jpg );


    
}

.recomend_kyoto{
    background-image:url(/kyoto.jpeg );

    
    
}

.recomend_sapporo{
    background-image:url(/sapporo.jpg );

 
    
}

.area{
    position: absolute;
    bottom:0;
    right: 0;
    color:white;
}
.footer {
    background-color: #3333CC;
    height: 465px;
    padding-top:60px
  }